# Load FX2 firmware for FPGA timetagger (requires fxload)
SUBSYSTEMS=="usb", ACTION=="add", ATTR{idVendor}=="04b4", ATTR{idProduct}=="8613", MODE="666"
SUBSYSTEMS=="usb", ACTION=="add", ATTR{idVendor}=="04b4", ATTR{idProduct}=="8613", RUN+="/sbin/fxload -v -t fx2 -I /usr/share/timetag/fx2-firmware.ihx -D $tempnode"
